*{
    box-sizing: border-box;

}
html,body{
    margin:0;padding:0;
    width:100%;height:100%;
}
body{
	font-family:Helvetica;
}

.top img{
	position: fixed;
	top:0;
}
.nav{
	/*display: flex;*/
	background:#D43D3D;
	width:100%;height:0.88rem;
	position: fixed;
    top:0.5rem;
	font-size: 0.3rem;
    line-height: 0.88rem;
	color:#F2C1C1;
}
.nav a{
	display:inline-block;
	width:19%;
	color:#F2C1C1;
	text-align: center;
}

.l_title{
	font-size: 0.34rem;
	color:#313131;
	margin-top: 1.44rem;
	padding:0.28rem 0.42rem 0.28rem ;
    font-weight: bold;
}
.l_title .l_title_pic{
	/*width:6.7rem;*/
}
.l_title img{
	width:6.65rem;
}
.tu{
	display: flex;
}
.tu .re{
	width: 0.34rem;height:0.34rem;
	border-radius: 0.06rem;
	border:0.02rem solid #FACACA;
	font-size: 0.26rem;
	color:#F48181;
	text-align: center;
	line-height: 0.34rem;
    margin-right: 0.1rem;
}
.tu span{
	color:#AAAAAA;
	font-size:0.24rem;
	font-weight: normal;
	line-height: 0.34rem;

}
a{
    text-decoration: none;
}
.content{
    display: flex;
	padding:0.28rem 0.42rem 0.28rem ;
	border-top:0.02rem solid #F2F2F2 ;
}
.content .cl{

	width:4.26rem;
	font-size: 0.34rem;
	color:#353535;
}
.content .cr{
    width:2.28rem;
}
.tutu{
	padding-top: 0.24rem;
}





.footer{
    float: left;
    height: 0.95rem;
    width:100%;
    position: fixed;
    bottom:0rem;
    background: #F4F5F6;
    border-top: #EEEFEF solid 0.02rem;
    text-align: center;

}
/*.img{*/
    /*width:100%;height:100%;*/
/*}*/
.content3{
    margin-top:0rem;
}
.footer div{
	width:25%;
	text-align: center;
	float:left;
	font-size: 0.19rem;
	line-height: 0.95rem;
}
.footer div:hover{
	color:#F85959;
}
.shouye{
	margin-left:0.76rem;
	font-size: 0.44rem;
	}
/*.bo{
	text-align: center;
}*/

.header{
	float:left;
    /*display:flex;*/
    background:#D43D3D;
    width:100%;
    height:1.42rem;
    font-size: 0.3rem;
    flex-direction: row;
    /*flex-wrap:nowrap;*/
    /*justify-content:space-around;*/
    color:#F4CCCC;
    position: fixed;
}
.img{
	width:100%;
	height:2.55rem;
	float:left;
	/*padding-top: 1.42rem;*/
}
.aa{
	width:100%;
	heigt:3.7rem;
	border-bottom: 0.02rem solid #EDEDED;
	position: absolute;
	left:0;right:0;
	margin:auto;
}	
.aa{
	margin-top: 3.9rem;
	height:11.72rem;
	/*margin-top: 0.1rem;*/
}
.bb{
	padding-top: 0.1rem;
}	












.top{
	width:100%;
	height: 0.5rem;
	position:fixed;top:0;
}
.top img{
	width:100%;height: 100%;
	position:absolute;
	top:0rem;
}
.top1{
	width:100%;
	height:0.92rem;
	background: #FAFAFA;
	border-bottom: 0.01rem solid #D2D2D2;
	margin-top: 0.5rem;
}
.tl{
	width:0.27rem;
	height: 0.29rem;
	line-height: 0.92rem;
	font-size: 0.54rem;
	float:left;
	padding-left: 0.32rem;
	
}
.tr{
	line-height: 0.92rem;
	font-size: 0.54rem;
	float: right;
	padding-right: 0.32rem;
	position: absolute;
	top:-1rem;
}
.xqt{
	padding-left: 0.32rem;
	padding-right: 0.32rem;
	padding-top: 0.25rem;	
	font-size: 0.48rem;
}
.ly{
	width: 100%;
	padding-top: 0.58rem;
}
.lyl{
	float:left;
}
.bt{
	margin-left:1rem ;
	margin-top: -0.9rem;
}
.ly span{
	font-size: 0.34rem;
}
.bt .time{
	padding-bottom:0.30rem;
	font-size: 0.2rem;
	color:#CCC;
}
.lyr{
	float: right;
	width: 1.52rem;
	height: 0.6rem;
	background: #2A90D7;
	border-radius:0.1rem;
	padding-right: 0.32rem;
	font-size: 0.24rem;
	color:white;
	line-height: 0.6rem;
	text-align: center;
}
.xqnr{
	text-indent: 2em;
	font-size: 0.34rem;
}
.xqnr div{
	margin-left: -0.63rem;
}
.jiao{
	width:100%;
	height:0.94rem;
	/*background: #F4F5F6;*/
	/*border-top: 0.02rem solid #DDDEDE;*/
	margin-top:0.1rem;
}
/*jiao input{
	width: 3.7rem;
	height: 0.7rem;
	border-radius: 0.3rem;
}*/


/*detail*/
.list{
	color:#393939;
	font-size: 0.3rem;
	padding:0.28rem 0.42rem 0.28rem ;
	border-top: 0.02rem solid #F6F6F6;
}
.lis1{
	border-top: none;
}
.l_pic{
	width:7.5rem;height: 3.56rem;
}
.l_pic img{
	width: 100%;height: 100%;
}
.list a{
	/*display: block;*/
	/*width: 6.66rem;*/
	color:#393939;
}
.xinhua{
	padding-top: 0.2rem;
	color:#B0B0B0;
}
.list .img3{
	padding-top: 0.16rem;
	width: 6.88rem;
	/*height: 1.48rem;*/
		}
.list .img3 img{
	width:2.17rem;
}